<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/ionicons.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/fontawesome5-overrides.min.css}">
    <title>Depozit de componente PC</title>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index">Depozit de componente PC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="index">Acasa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarComponenteDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Componente PC
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarComponenteDropdown">
                    <a class="dropdown-item" href="ComponentForm">Adauga componenta</a>
                    <a class="dropdown-item" href="components">Vizualizare componente PC</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarCategoriiDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Categorii
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarCategoriiDropdown">
                    <a class="dropdown-item" href="CategoryForm">Adauga categorie</a>
                    <a class="dropdown-item" href="categories">Vizualizare categorii</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="despre">Despre</a>
            </li>
        </ul>
    </div>
</nav>

<div class="card mx-auto">
    <div class="card-header">
        TEMA DE LABORATOR PWEB
    </div>
    <div class="card-body mx-auto" style="text-align: center">
        <h5 class="card-title">Depozit de componente PC</h5>
        <p class="card-text">CPU GPU RAM HDD SSD</p>
        <a href="categories" class="btn btn-primary">Vizualizare categorii</a>
    </div>
</div>

<div id="contact" class="row center" style="width: 400px;margin: auto;">
    <div class="text-center" style="text-align: center; margin: 30px auto;">

        <form th:action="@{/addCategory}" method="post">
            <div class="form-group">
                <label for="formGroupExampleInput">Cod categorie</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Cod categorie" name="category_code">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Tipul componentei</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Tipul componentei" name="typeOfComponent">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput3">Cantitate</label>
                <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Cantitate" name="quantity">
            </div>
            <br><br>
            <button  type="submit" class="btn btn-primary">Adaugă</button>
        </form>

    </div>
</div>


<section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Alexandru Epure, TI, III, 4LF391A
        </div>
    </footer>
</section>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script>
    // Activate Carousel
    $("#myCarousel").carousel();

    // Enable Carousel Indicators
    $(".item").click(function(){
        $("#myCarousel").carousel(1);
    });

    // Enable Carousel Controls
    $(".left").click(function(){
        $("#myCarousel").carousel("prev");
    });
</script>
</body>
</html>